table, td, th {

  border: 3px solid black;
}
.fondo{
  background-color: #b8b894;
}
.post{
  border: 2px solid black;
  padding: 5px;
  width: 80%;
  margin: 10px auto;
}
.fecha{
  color: red;
}
.texto{
  font-family: sans-serif;
}

img{
  width: 100%;
  height:auto;
}
.row {
  padding-bottom: 25px;
}
#contenido{
  text-align: center;
}
